.skills{
	margin-top: 10px;
}

.skills .me h3{color:lightskyblue;text-align: left;margin: 2% 15%}

.skills .friend h3{color: lightskyblue;text-align: right;margin: 2% 10%}

.skills img{
  border-radius: 50%;
  opacity: 0.8;
  animation: img 5s linear infinite;
}

@keyframes img {
  0%,100%{
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%
  }
  25%{
    border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%; 
  }
  50%{
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75%{
    border-radius: 40% 60% 70% 40% / 47% 62% 38% 53%;
  }
}


.skills .progress{
	font-size: 20px;
	height: 30px;
	width: 400px;
	margin-bottom: 10px;
  overflow: hidden;
}

.skills h4{
	font-size: 15px;
	color: #fff
}
