
.contact{margin-top: 30px}

.contact .me h3{color:lightskyblue;text-align: left;margin: 2% 15%}

.contact .friend h3{color: lightskyblue;text-align: right;margin: 2% 10%}

.contact img{
  border-radius: 50%;;
  opacity: 0.8;
  animation: img 5s linear infinite;
}

.contact .form{
    margin-top: 50px
}

.icons .me i
{
    color: lightskyblue;
    font-size: 30px;
    margin: 10px
}

.icons .me span{
    color: lightskyblue;
    display: block;
    font-size: 20px
}

.icons .me .mobile{
    display: block;
}

.icons .friend i
{
    color: lightskyblue;
    font-size: 30px;
    margin: 10px
}

.icons .friend .mobile{
    display: block;
}

.icons .me i:hover,
.icons .friend i:hover{
    color: #fff;
    cursor: pointer;
}


.icons h2
{
   color: #fff;

}

.icons hr{
    color: #fff;
    border: 2px solid #CCC;
    width: 100%;
}

.form input
{
    background-color: black;
    opacity: 0.4;
    padding: 10px;
    border: 2px solid lightskyblue;
    border-radius: 10px;
    width: 70%;
    margin-bottom: 10px;
    color: #fff
}

.form textarea
{
    background-color: black;
    border-radius: 10px;
    border: 2px solid lightskyblue;
    opacity: 0.4;
    padding: 10px;
    width: 70%;
    height: 90px;
    margin-bottom: 5px
    border: 1px solid lightskyblue;
    color: #fff

}

.form input[tybe="submit"]
{
    border: 1px solid lightskyblue
}

.form .button{
    margin-top: 10;
    color: #fff
}

.form input::placeholder,
.form textarea::placeholder{
    color: #fff;
    margin-left: 5px
}



@keyframes img {
  0%,100%{
    border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%
  }
  25%{
    border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%; 
  }
  50%{
    border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
  }
  75%{
    border-radius: 40% 60% 70% 40% / 47% 62% 38% 53%;
  }
}